### zip()

combines lists, tuples, or strings into tuples according to their series of values
-    it will only go on until the length of the shortest iterable

In [3]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [4]:
zip(a,b)

In [5]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [6]:
name = ["mahmud", "nese", "ozde"]
age = [22,17,23]
job = ["python", "student", "psychologist"]

In [9]:
for i,j,k in zip(name, age, job):
    print(f"{i:<10}{j:<5}{k:<5}")

mahmud    22   python
nese      17   student
ozde      23   psychologist

In [10]:
print(list(zip(name,age,job)))

[('mahmud', 22, 'python'), ('nese', 17, 'student'), ('ozde', 23, 'psychologist')]

In [13]:
# in this example we have a list of 100 contents and we want to number them from 1-100 this is how we would do it


list1 = ["mahmud","apaydin"] * 50

list(zip(range(1,101), list1))

[(1, 'mahmud'),
 (2, 'apaydin'),
 (3, 'mahmud'),
 (4, 'apaydin'),
 (5, 'mahmud'),
 (6, 'apaydin'),
 (7, 'mahmud'),
 (8, 'apaydin'),
 (9, 'mahmud'),
 (10, 'apaydin'),
 (11, 'mahmud'),
 (12, 'apaydin'),
 (13, 'mahmud'),
 (14, 'apaydin'),
 (15, 'mahmud'),
 (16, 'apaydin'),
 (17, 'mahmud'),
 (18, 'apaydin'),
 (19, 'mahmud'),
 (20, 'apaydin'),
 (21, 'mahmud'),
 (22, 'apaydin'),
 (23, 'mahmud'),
 (24, 'apaydin'),
 (25, 'mahmud'),
 (26, 'apaydin'),
 (27, 'mahmud'),
 (28, 'apaydin'),
 (29, 'mahmud'),
 (30, 'apaydin'),
 (31, 'mahmud'),
 (32, 'apaydin'),
 (33, 'mahmud'),
 (34, 'apaydin'),
 (35, 'mahmud'),
 (36, 'apaydin'),
 (37, 'mahmud'),
 (38, 'apaydin'),
 (39, 'mahmud'),
 (40, 'apaydin'),
 (41, 'mahmud'),
 (42, 'apaydin'),
 (43, 'mahmud'),
 (44, 'apaydin'),
 (45, 'mahmud'),
 (46, 'apaydin'),
 (47, 'mahmud'),
 (48, 'apaydin'),
 (49, 'mahmud'),
 (50, 'apaydin'),
 (51, 'mahmud'),
 (52, 'apaydin'),
 (53, 'mahmud'),
 (54, 'apaydin'),
 (55, 'mahmud'),
 (56, 'apaydin'),
 (57, 'mahmud'),
 (58, 'apaydin'),
 (59, 'mahmud'),
 (60, 'apaydin'),
 (61, 'mahmud'),
 (62, 'apaydin'),
 (63, 'mahmud'),
 (64, 'apaydin'),
 (65, 'mahmud'),
 (66, 'apaydin'),
 (67, 'mahmud'),
 (68, 'apaydin'),
 (69, 'mahmud'),
 (70, 'apaydin'),
 (71, 'mahmud'),
 (72, 'apaydin'),
 (73, 'mahmud'),
 (74, 'apaydin'),
 (75, 'mahmud'),
 (76, 'apaydin'),
 (77, 'mahmud'),
 (78, 'apaydin'),
 (79, 'mahmud'),
 (80, 'apaydin'),
 (81, 'mahmud'),
 (82, 'apaydin'),
 (83, 'mahmud'),
 (84, 'apaydin'),
 (85, 'mahmud'),
 (86, 'apaydin'),
 (87, 'mahmud'),
 (88, 'apaydin'),
 (89, 'mahmud'),
 (90, 'apaydin'),
 (91, 'mahmud'),
 (92, 'apaydin'),
 (93, 'mahmud'),
 (94, 'apaydin'),
 (95, 'mahmud'),
 (96, 'apaydin'),
 (97, 'mahmud'),
 (98, 'apaydin'),
 (99, 'mahmud'),
 (100, 'apaydin')]

### enumerate()

numbers the list for you, default starts at 0

In [14]:
a

['apple', 'orange', 'lemon']

In [15]:
b

[1, 2, 3]

In [16]:
list(enumerate(a))

[(0, 'apple'), (1, 'orange'), (2, 'lemon')]

In [18]:
list(enumerate(list1, 1))

[(1, 'mahmud'),
 (2, 'apaydin'),
 (3, 'mahmud'),
 (4, 'apaydin'),
 (5, 'mahmud'),
 (6, 'apaydin'),
 (7, 'mahmud'),
 (8, 'apaydin'),
 (9, 'mahmud'),
 (10, 'apaydin'),
 (11, 'mahmud'),
 (12, 'apaydin'),
 (13, 'mahmud'),
 (14, 'apaydin'),
 (15, 'mahmud'),
 (16, 'apaydin'),
 (17, 'mahmud'),
 (18, 'apaydin'),
 (19, 'mahmud'),
 (20, 'apaydin'),
 (21, 'mahmud'),
 (22, 'apaydin'),
 (23, 'mahmud'),
 (24, 'apaydin'),
 (25, 'mahmud'),
 (26, 'apaydin'),
 (27, 'mahmud'),
 (28, 'apaydin'),
 (29, 'mahmud'),
 (30, 'apaydin'),
 (31, 'mahmud'),
 (32, 'apaydin'),
 (33, 'mahmud'),
 (34, 'apaydin'),
 (35, 'mahmud'),
 (36, 'apaydin'),
 (37, 'mahmud'),
 (38, 'apaydin'),
 (39, 'mahmud'),
 (40, 'apaydin'),
 (41, 'mahmud'),
 (42, 'apaydin'),
 (43, 'mahmud'),
 (44, 'apaydin'),
 (45, 'mahmud'),
 (46, 'apaydin'),
 (47, 'mahmud'),
 (48, 'apaydin'),
 (49, 'mahmud'),
 (50, 'apaydin'),
 (51, 'mahmud'),
 (52, 'apaydin'),
 (53, 'mahmud'),
 (54, 'apaydin'),
 (55, 'mahmud'),
 (56, 'apaydin'),
 (57, 'mahmud'),
 (58, 'apaydin'),
 (59, 'mahmud'),
 (60, 'apaydin'),
 (61, 'mahmud'),
 (62, 'apaydin'),
 (63, 'mahmud'),
 (64, 'apaydin'),
 (65, 'mahmud'),
 (66, 'apaydin'),
 (67, 'mahmud'),
 (68, 'apaydin'),
 (69, 'mahmud'),
 (70, 'apaydin'),
 (71, 'mahmud'),
 (72, 'apaydin'),
 (73, 'mahmud'),
 (74, 'apaydin'),
 (75, 'mahmud'),
 (76, 'apaydin'),
 (77, 'mahmud'),
 (78, 'apaydin'),
 (79, 'mahmud'),
 (80, 'apaydin'),
 (81, 'mahmud'),
 (82, 'apaydin'),
 (83, 'mahmud'),
 (84, 'apaydin'),
 (85, 'mahmud'),
 (86, 'apaydin'),
 (87, 'mahmud'),
 (88, 'apaydin'),
 (89, 'mahmud'),
 (90, 'apaydin'),
 (91, 'mahmud'),
 (92, 'apaydin'),
 (93, 'mahmud'),
 (94, 'apaydin'),
 (95, 'mahmud'),
 (96, 'apaydin'),
 (97, 'mahmud'),
 (98, 'apaydin'),
 (99, 'mahmud'),
 (100, 'apaydin')]

In [20]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [23]:
num = [2,4,5,6,9,10]
x = 2
for i in num:
    if i == x:
        print("")
    else:
        print(x)
        x += 1

2
3
4
5
6

Problem 1: write a code that finds the numbers not in the list below and prints them

solution 1:

In [24]:
num = [48,10,11,21,36,5,6,52,28,29,53,54,45,19,20,47,55,39,41,7,9,17,26,27,42,22,37,51,46,18,44,30,34,13,15,35,33,16,50,24]

In [26]:
empty_list = []

for i in range(min(num), max(num)):
    if i not in num:
        empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

solution 2:

In [27]:
empty_list = []

for i in range(min(num), max(num)):
    if i in num:
        continue
    empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

solution 3:

In [28]:
full_list = set(range(min(num),max(num)+1))
num_set = set(num)

full_list - num_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

problem 2: write a code that prints the odd numbers as is and the squares of even numbers from the lsit

In [29]:
list_2 = [1,2,3,4,5,6]
empty = []

for i in list_2:
    if i % 2 != 0:
        empty.append(i)
    elif i % 2 == 0:
        empty.append(i ** 2)
print(empty)

[1, 4, 3, 16, 5, 36]

## List Comprehension

The easiest way to shorten for loops

In [31]:
# this is pretty long if you think about it


list_2
empty = []
for i in list_2:
    empty.append(i ** 2)

print(empty)

[1, 4, 9, 16, 25, 36]

In [33]:
# an easier way to do this is with list comprehension
# you write which formula you want to follow on the very left

[ i ** 2 for i in list_2]

[1, 4, 9, 16, 25, 36]

In [36]:
# lets say we want to list these without the unnecessary strings *$?!
# we can use a for loop and make it long


a = ["ford*", "fiat?$", "bmw!"]
empty = []
for i in a:
    empty.append(i.replace("*","").replace("$","").replace("!","").replace("?",""))
print(empty)

['ford', 'fiat', 'bmw']

In [37]:
# we can also do the same thing in one line using list comprehension
[i.replace("*","").replace("$","").replace("!","").replace("?","") for i in a]

['ford', 'fiat', 'bmw']

lets do the same with a previous example that only prints the squares of odd numbers in a list

In [40]:
list_2 = [1,2,3,4,5,6]
empty = []

for i in list_2:
    if i % 2:
        empty.append(i ** 2)
 
print(empty)

[1, 9, 25]

In [42]:
# if comes after for if it is used alone

[i ** 2 for i in list_2 if i % 2]

[1, 9, 25]

In [44]:
list_2 = [1,2,3,4,5,6]
empty = []

for i in list_2:
    if i % 2 != 0:
        empty.append(i)
    elif i % 2 == 0:
        empty.append(i ** 2)
print(empty)

[1, 4, 3, 16, 5, 36]

In [43]:
# now if we want to use both if and else then the makeup changes 
# first you push the for loop all the way to the right
[ i if i % 2 == 1 else i ** 2         for i in list_2]

[1, 4, 3, 16, 5, 36]

### **nested** ***loops***

for loops inside for loops it will always go in order
-   if a loop inside a for loop is finished, it will return back to the loop above it, until it is done

In [45]:
for i in range(1,2):
    for j in range(1,11):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [46]:
for i in range(1,6):
    for j in range(1,11):
        print(f"{i} x {j} = {i * j}")
    print("___________")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
___________
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
___________
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
___________
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
___________
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
___________

### problem 1:

write a code that determines if an inputted number is an armstrong number

In [49]:
print("Armstrong number is a number that is equal to the sum of cubes of its digits")

num = input("Please Enter a number you wish to find out if it is an armstorng number or not")

toplam = 0

len_ = len(num)

for i in num:
    toplam += int(i) ** len_

if toplam == int(num):
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Armstrong number is a number that is equal to the sum of cubes of its digits
45 is not an Armstrong number

In [53]:
def is_armstrong_number(num):
    # Convert number to string to count the digits
    num_str = str(num)
    num_digits = len(num_str)
    
    # Calculate the sum of each digit raised to the power of the number of digits
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)
    
    # Check if the number is an Armstrong number
    return num == armstrong_sum

# Iterate over numbers from 1 to 10000 and print Armstrong numbers
for number in range(1, 10001):
    if is_armstrong_number(number):
        print(number)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474